*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0;
    padding: 0;
}

.site-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo{
    margin-right: 1.6rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.footer-logo-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.268rem;
    color: #fff;
    transition: 0.5s;
}
.footer-logo-text:hover{
    color:#DE2E54;
}
.footer-logo-text:active{
    opacity: 0.6;
}

.site-logo2{
    color: #000;
}

.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav{
    margin-right: auto;
    margin-left: auto;
}

.sitenav-list{
    display: flex;
    list-style: none;
}

.sitenav-item:not(:last-child){
    margin-right: 3.2rem;
}
.sitenav-link{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.2rem;
    color:#222222;
    text-transform: uppercase;
    transition: 0.5s;
}
.sitenav-link:hover{
    color: #DE2E54;
}
.sitenav-link:active{
    opacity: 0.6;
}
.main-button{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.2rem ;
    background-color: #DE2E54;
    border: 0.2rem solid #DE2E54;
    padding: 1.2rem 2.4rem;
    color: #fff;
    text-decoration: none;
    border-radius: 0.8rem;
    text-transform: uppercase;
    transition: 00.5s;
}
.main-button:hover{
    background: #FFFFFF;
    border: 0.2rem solid #DE2E54;
    color: #DE2E54;
}
.main-button:active{
    opacity: 0.6;
}

.hero-container{ 
    color: #fff;
    display: flex;
}
.hero{
    background-color: #0EB4C1;
}

.hero-content{
    margin-top: 12rem;
}

.hero-heading{
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.32rem;
    margin-top: 0px;
    margin-bottom: 1.6rem;
}

.hero-text{
    font-size: 1.8rem;
    line-height: 2.7rem;
    width: 44rem;
    margin-top: 0px;
    margin-bottom: 3.6rem;
}

.features-heading{
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.32rem;
    color: #000;
    margin-top: 12rem;
    margin-left: 50rem;
}

.features-action{
    display: flex;
    margin-left: 10rem;
    margin-top: 0;
    margin-bottom: 8rem;
}

.features-content{
    margin-left: 6.4rem;
}

.features-heading2{
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.88rem;
}

.features-paragraph{
    width: 60rem;
}

.features-button{
    margin-top: 6rem;
    margin-left: 48rem;
}

.sale{
    background-color:#0EB4C1;
    color: #fff;
    height: 25.3rem;
    position: absolute;
    width: 100%;
    margin-top: 12rem;
}

.sale-content{
    margin-top: 6.4rem;
}

.sale-heading{
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.32rem;
    margin-top: 0px;
    margin-left: 35rem;
    margin-bottom: 4rem;
}

.sale-action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sale-buttons{
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1.2rem 2.4rem;
    border: 0.2rem solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.8rem;
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
    margin-bottom: 6.4em;
    margin-top: 0px;
}
.sale-buttons:hover{
    background-color:#DE2E54;
    border-color: #DE2E54;
}
.sale-buttons:active{
    opacity: 0.6;
}

.footer{
    background-color:#222222;
    position: absolute;
    width: 100%;
    height: 9.794rem;
    margin-top: 37.3rem;
}

.site-logo-container{
    display: flex;
    align-items: center;
}

.site-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footernav-list{
    display: flex;
    list-style: none;
}

.footernav-item:not(:last-child){
    margin-right: 3.2rem;
}

.footernav-link{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.2rem;
    color:#fff;
    text-transform: uppercase;
    transition: 0.5s;
}
.footernav-link:hover{
    color:#DE2E54;
}
.footernav-link:active{
    opacity: 0.6;
}